{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<body>
{% block content %}

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <ul class="nav nav-pills nav-stacked">

        <li class="active"><a href="add_item">Post</a></li>

      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4>{{ user.profile.get_location_display }}, NC</h4>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4><a href="for_sale">All items for sale</a></h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4><a href="profile/{{ user.profile.id }}">My items</a></h4>
          </div>
        </div>
        <div class="col-sm-3">

          <div class="well">
            <h4>Items by location</h4>
            {% for item in items %}
                <li>
                <a href="location/{{item.location}}">{{ item.get_location_display }}</a>
                </li>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Items by department</h4>
            {% for item in items %}
                <li>
                <a href="department/{{item.department}}">{{ item.department }}</a>
                </li>
            {% endfor %}
          </div>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}


</body>
</html>
