{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        {% block content %}
        <h4><a href="../">Home</a> </h4>
        <h4><a href="../for_sale">All items</a> </h4>
        <h2>{{item.item}}</h2>
        <h3>{{item.price}} $</h3>
        <hr>
        <p>Location:<a href="../location/{{item.location}}">{{item.get_location_display}}</a></p>
        <p>Description: {{item.description}} </p>
        <p>{{item.get_condition_display}}</p>


    {% endblock %}
    </body>
</html>
